
body {
  background-color: #E8ECEF;
  display: flex;
  flex-direction: column;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 1.5rem;
  color: #fff;
  background-color: #000;
}

.spl{
  padding: 18px;
}

i{
  padding-right: 0.5rem;
}

footer{
  text-align: center;
  margin-top: 10px;
}

.text-box{
  text-align: center;
  color: #050505;
  background: #f7dede;
}
