
body {
  width: 100%;
  background-color: #E8ECEF;
  display: flex;
  flex-direction: column;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

.spl{
  padding: 18px;
}

i{
  padding-right: 1rem;
}

footer{
  text-align: center;
  margin-top: 10px;
}

